.tasks li {
  padding: 1rem;
  display: flex;
  font-size: 2rem;
  margin: 1rem 4.5rem 0 4.5rem;
  justify-content: space-between;
  transition: all 300ms ease-in-out;
}

.tasks li:hover {
  background: #b5ffbf;
}

.tasks li .edit {
  margin-right: 2rem;
  color: rgb(34, 230, 230);
}

.tasks li .delete {
  color:rgb(218, 23, 23);
}

.tasks li .edit,
.tasks li .delete {
  cursor: pointer;
}

.tasks li span {
  display: flex;
  align-items: center;
}
