html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.main {
  background: #fff;
  padding: 3rem;
  margin: 5rem auto;
  max-width: 60rem;
  border-radius: 0.4rem;
  box-shadow:  0 0 1rem rgba(0, 0, 0, 0.2);
}

.main h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}
