:root {
  --main-color: rgb(67, 90, 133);
  --text-color: rgb(255, 182, 249);
  --wh-color: rgb(255, 255, 255);
  --dark-color: rgb(136, 136, 136);
  --red-color: rgb(218, 22, 22);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: sans serif;
  background: var(--main-color);
}

button {
  cursor: pointer;
}